trunk/SoBrow/Service References/CodebitsService/Codebits3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:42773/Codebits.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SoBrow.Web" />
  <xs:import schemaLocation="http://localhost:42773/Codebits.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetUserProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SoBrow.Web" minOccurs="0" name="GetUserProfileResult" nillable="true" type="q1:ProfileView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="uids" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SoBrow.Web" minOccurs="0" name="GetUsersProfileResult" nillable="true" type="q3:ArrayOfProfileView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>